worker_groups_launch_template = [
{
name = "spot-group"
instance_type = "m5.large"
override_instance_types = [ "m5a.large", "m5d.large", "m5.xlarge" ]
spot_allocation_strategy = "lowest-price"
asg_desired_capacity = 1
asg_max_size = 1
asg_min_size = 1
root_volume_size = 50
kubelet_extra_args = "--node-labels=node.kubernetes.io/lifecycle=spot"
spot_instance_pools = 10
on_demand_base_capacity = 0
on_demand_percentage_above_base_capacity = 0
},
{
name = "on-demand-group"
instance_type = "t3.medium"
asg_desired_capacity = 1
asg_max_size = 1
asg_min_size = 1
root_volume_size = 20
kubelet_extra_args = "--node-labels=node.kubernetes.io/lifecycle=on-demand"
},
]
