# set additional template variables
{{- $gitUrl := "github.com/shalb/cluster.dev//terraform/aws" }}
{{- $branch := "new-reconciler" }}
modules:
  - name: route53
    type: terraform
    source: {{ $gitUrl }}/route53?ref={{ $branch }}
    inputs:
      region: {{ .variables.region }}
      cluster_name: {{ .name }}
      cluster_domain: {{ .variables.env }}.{{ .variables.domain }}
      zone_delegation: {{ if eq .variables.domain "cluster.dev" }}true{{ else }}false{{ end }}
  - name: vpc
    type: terraform
    source: {{ $gitUrl }}/vpc?ref={{ $branch }}
    inputs:
      region: {{ .variables.region }}
      cluster_name: {{ .name }}
      availability_zones: {{ insertYAML .variables.azs }}
  - name: minikube
    type: terraform
    source: {{ $gitUrl }}/minikube?ref={{ $branch }}
    inputs:
      region: {{ .variables.region }}
      cluster_name: {{ .name }}
      aws_instance_type: {{ .variables.instance_type }}
      hosted_zone: {{ .variables.env }}.{{ .variables.domain }}
      aws_subnet_id: {{ remoteState "this.vpc.public_subnets[0]" }}
  - name: addons
    type: terraform
    source: {{ $gitUrl }}/addons?ref={{ $branch }}
    depends_on: this.minikube
    inputs:
      region: {{ .variables.region }}
      cluster_name: {{ .name }}
      cluster_cloud_domain: {{ .variables.env }}.{{ .variables.domain }}
      dns_zone_id: {{ remoteState "this.route53.zone_id" }}
