modules:
  - name: vpc
    type: terraform
    source: github.com/romanprog/graph-test//terraform/vpc?ref=master
    inputs:
      region: {{ .variables.region }}
      cluster_name: {{ .name }}
      availability_zones: {{ insertYAML .variables.availability_zones }}
  - name: instance
    type: terraform
    depend_on: route53
    source: github.com/romanprog/graph-test//terraform/instance?ref=master
    inputs:
      region: {{ .variables.region }}
      cluster_name: {{ .name }}
      subnet_id: {{ remoteState "this.vpc.public_subnets[0]" }}
      instance_type: {{ .variables.instance_type }}
  - name: postScript
    type: shell
    command: "echo {{ output "this.vpc.output1" }}"
    inputs:
      - "--asdasd"
      - "{{ output "this.vpc.output1" }}"
  - name: postScript2
    type: shell
    command: "echo {{ output "this.postScript.output1" }}"
