on:
  push:
    paths:
      - '.cluster.dev/digitalocean-k8s.yaml'
    branches:
      - master
jobs:
  deploy_cluster_job:
    runs-on: ubuntu-latest
    name: Cluster.dev
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
    - name: Reconcile Clusters
      id: reconcile
      uses: shalb/cluster.dev@v0.3.3
      env:
        DIGITALOCEAN_TOKEN: "${{ secrets.DIGITALOCEAN_TOKEN }}"
        SPACES_ACCESS_KEY_ID: "${{ secrets.SPACES_ACCESS_KEY_ID }}"
        SPACES_SECRET_ACCESS_KEY: "${{ secrets.SPACES_SECRET_ACCESS_KEY }}"
        CLUSTER_CONFIG_PATH: "./.cluster.dev/digitalocean-k8s.yaml"
        VERBOSE_LVL: "INFO"
